{% extends 'base.html.twig' %}

{% block body %}
    {% if user_products|default %}
        <div id="cart">
            <table id="cart_table" style="background: rgba(0,0,0,0.2);">
                <thead>
                    <tr>
                        <th scope="col">Ref</th>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for product in user_products %}
                    <tr>
                    <td>{{ product.product.id}}</td>
                    <td><img class="img-fluid" style="width: 200px;" src="../uploads/{{ product.product.image }}" alt=""></td>
                    <td>{{ product.product.name}}</td>
                    <td>{{ product.quantity}}</td>
                    <td>{{ product.product.price}} €</td>
                    <td>
                        <form class="ajax_delete--product" action="{{ path('cart_delete', {'product_id': product.product.id, 'cart_id': cart_data.id}) }}">
                            <button  type="submit" style="background: transparent; border: 0;"><img src="../img/waste-bin.png" alt=""></button>
                        </form>
                    </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <hr class="footer_hr">
                        </td>
                    </tr>

                {% endfor %}
                <!-- TOTAL PRICE -->
                <tr>
                    <td colspan="4"></td>
                    <th>Total</th>
                    <td>{{ cart_data.getTotalPrice() }}</td>
                </tr>

                <!-- CHECKOUT BUTTON -->
                <tr>
                    <td colspan="5"></td>
                    <td>
                        <form action="">
                            <button type="submit" class="button btn--large" style="animation: shake 2s infinite;">CHECKOUT</button>

                        </form>
                    </td>
                </tr>
                <!-- CLEAR CART BUTTON
                <tr>
                    <td colspan="5"></td>
                    <td>
                        <form class="ajax_atc--clear" action="{#{{ path('cart_clear', {'cart_id': cart_data.id}) }}#}">
                            <button type="submit" class="button btn--large btn--filled">
                                Clear cart
                            </button>
                        </form>
                    </td>
                </tr>-->
                </tbody>
            </table>
        </div>
        {% else %}
            <p class="empty_cart">Your shopping cart is empty</p>
    {% endif %}
{% endblock %}
