{% extends 'base.html.twig' %}

{% block title %}Website | {{ category.name }}{% endblock %}

{% block body %}

    <div class="products">
    {% for product in category.products %}
            <div class="product-card--category" style="background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url('../uploads/{{ product.image }}') no-repeat; background-size: cover;">
                <div class="product-info">
                    <h5 class="product-name"><a href="/product/{{ product.id }}">{{ product.name }}</a></h5>
                    <div><a href="" class="button"><span><img src="../img/shopping-cart.png" style="width: 24px; height: 24px;" class="mr-2" alt=""></span>ADD TO CART</a></div>
                    <div><a href="" class="button button-red">BUY</a></div>
                </div>
            </div>
    {% else %}
        <div>No products found</div>
    {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}