{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>
    <div class="product">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-title">{{ product.name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="top--hr">
                    </div>
                </div>
                <div class="product-desc">
                {{ product.longDesc }}
                </div>
                <div class="product-eta">
                    <span><img src="../img/exclamation-mark.png" style="margin-right: 10px;" alt="ETA warning"></span>ETA: {{ product.eta }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-img" style="background-image: url('../uploads/{{ product.image }}')">
                </div>
                <div class="product-price">
                    {{ product.price }} €
                </div>
                <div class="product-atc">
                    {% if app.user|default %}
                    {{ dump(user_products) }}
                    <form action='{{ path('add_to_cart', {'id': product.getId()}) }}' class="ajax_atc">
                        {% set _intoCart = false %}
                            {% for cart_product in user_products %}
                                {% if cart_product.product == product %}
                                    {% set _intoCart = true %}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}

                        {% if _intoCart %}
                            <button disabled type="submit" id="ajax_atc--button" class="button--disabled btn--filled btn--large">ALREADY IN YOUR CART</button>
                        {% else %}
                            <div><button type="submit" id="ajax_atc--button" class="button btn--filled btn--large">ADD TO CART</button></div>
                        {% endif %}

                    </form>
                    {% else %}
                        <div><button data-toggle="modal" data-target="#loginModal" class="button btn--filled btn--large">ADD TO CART</button></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="product_reviews">
        <div class="row">
            <div class="col-lg-12">
                <hr class="top--hr">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for review in product.reviews %}
                                <div class="review">
                                    <div class="card mb-3 border-0">
                                        <div class="card-body">
                                            <h5 class="card-title"><span><img class="mr-3" src="../img/profile.png" alt=""></span>{{ review.user.username }}
                                                <!-- AJAX ON LIKE/DISLIKE REVIEW -->
                                                <a href="{{ path('vote_review', {'review_id': review.id, 'product_id': product.id}) }}" class="float-right"><small class="text-muted">TEST</small></a></h5>
                                            <p class="card-text mt-5 ml-5">{{ review.comment }}</p>
                                            <p class="card-text mt-5 float-right"><small class="text-muted">Le {{ review.createdat | date("d F Y") }} à {{ review.createdat | date("G:i") }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
        {% if app.user|default %}
        <div class="product_review_edit">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(formReview) }}
                    {{ form_row(formReview.comment, {'required': false,'attr': {'placeholder': "Enter a comment..."}}) }}

                    <button type="submit" class=" mt-5 button btn--filled btn--large">Save</button>
                    {{ form_end(formReview) }}
                </div>
            </div>
        </div>
        {% endif     %}
    </div>
{% endblock %}