{% extends 'base.html.twig' %}

{% block body %}


        <section id="hero">
            <div class="hero">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-subheader">Flumen terra bonis Isauria verticibus.
                        </div>
                        <div class="hero-header">Et illa quis Mithridaticos quis et exhausti urbis inquam Byzantiorum.
                        </div>
                        <div class="hero-buttons">
                            {% if app.user %}
                                <a class="button btn--filled" href="#topselling">OUR BEST SELLERS</a>
                            {% else %}
                                <a class="button btn--filled" data-toggle="modal" data-target="#signupModal">CREATE AN ACCOUNT</a>
                            {% endif %}

                            <a href="#testimonial" class="button">REVIEWS</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </section>

        <section id="service">
                <div class="feature-subheader text-center">
                    Flumen terra bonis Isauria verticibus.
                </div>
                <div class="feature-header text-center">
                    Et illa quis Mithridaticos quis et exhausti urbis inquam Byzantiorum.
                </div>
                <div class="feature-content text-center">Et inde Syria advecticiis et interpatet inde advecticiis cognita et.
                </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="foo foo-featured" style='background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/powerleveling.jpg") 75% 35%; background-size: cover;'>
                        <p class="">Powerleveling</p>
                        <a class="button btn--filled" href="">SHOW MORE</a>
                    </div>
                </div>

                <div class="col-lg-6" id="little-square2">
                    <div class="foo foo-featured" style='background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/artifact.jpg") 50% 40%; background-size: cover;'>
                        <p class="">Artifact skin</p>
                        <a class="button btn--filled" href="">SHOW MORE</a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12" id="big-square">
                    <div class="foo foo-featured" style='background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/nighthold.jpeg") 75% 35%; background-size: cover;'>
                        <p class="">RAID BOOSTING</p>
                        <a class="button btn--filled" href="">SHOW MORE</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="whychooseus"></section>

        <section id="topselling">
            <div class="feature-subheader text-center">
                Our best sellers
            </div>
            <div class="feature-header text-center">
                Top selling now
            </div>
                {% for productRow in products|batch(3) %}
                    <div class="row">
                        {% for product in productRow %}
                            <div class="col-lg-4">
                                <a href="product/{{ product.id }}">
                                    <div class="home-product-group">
                                        <div
                                                style="background-image: url('../uploads/{{ product.image }}');" class="product-vignette-img">
                                        </div>
                                        <div class="product-vignette--title">{{ product.name }}</div>
                                        <div class="product-vignette--price">{{ product.price }} €</div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
        </section>

        <section id="testimonial">
            <div class="feature-subheader text-center">
                Testimonial
            </div>
            <div class="feature-header text-center">
                {{ reviews|length }} Reviews
            </div>
            <div class="feature-content text-center">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="index_review">
                                <div class="review_user">
                                    {{ reviews[1].user.username }}
                                </div>
                                <div class="review_text">
                                    {{ reviews[1].comment }}
                                </div>
                                <div class="review_date">
                                    {{ reviews[1].createdat|date("M d") }}
                                </div>
                            </div>
                        </div>
                        {% for review in reviews %}
                        <div class="carousel-item">
                            <div class="index_review">
                                <div class="review_user">
                                    {{ review.user.username }}
                                </div>
                                <div class="review_text">
                                    {{ review.comment }}
                                </div>
                                <div class="review_date">
                                    {{ review.createdat|date("M d") }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

    <div class="container-fluid">
        <section id="faq">
            <div id="parallax-faq">
                <div class="pt-4">
                    <div class="feature-subheader text-center">
                        Flumen terra bonis Isauria verticibus.
                    </div>
                    <div class="feature-header text-center">
                        Et illa quis Mithridaticos quis et exhausti urbis inquam Byzantiorum.
                    </div>
                    <div class="feature-content text-center">Et inde Syria advecticiis et interpatet inde advecticiis cognita et.
                    </div>
                    <button class="button btn--filled btn--large mt-5"><a href="#">Frequently Asked Questions</a></button>
                </div>
            </div>
        </section>
    </div>

    <section id="bottomNav">
        <footer>

        </footer>
    </section>

{% endblock %}
